
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html, body {
    height:100%;
    width:100%;
    margin: 0 !important;
    padding: 0 !important;
}
body {
    background: #ffffff;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

#main{
    display: none;
}
#newGame, #tuto{
    text-align: center;
    vertical-align: middle;
    color: #A9A9A9;
    font-size: 32px;
    font-weight: bold;
    font-family: "Courier New";
    width: 5em;
    margin: 5px auto;

}
#theHead{
    margin: auto;
    color: #202830;
    font-size: 2em;
    font-family: "Courier New";
}
#congrats{
    margin: auto;
    color: #202830;
    font-size: 2em;
    font-family: "Courier New";
}
#tutoExplanation{
    background: #ffffff;
    color: #fff;
    font-family: "Courier New";
    font-size: 25px;
    text-align: center;
}
